<div style='padding-bottom:8px; text-align:left;'>
<p>
This Student Travel Request has been approved by $approver
</p>
<br>
$requestdetails
<br>
<p>
<br><br>
<B>This trip is approved under the condition that the Board Policy on Student Travel,
<br>
Policy IJOAB(A)  is followed.  Attached is a Student Travel Checklist to assist you in your planning.</B>
<p>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>