<div style='padding-bottom:8px; text-align:left;'>
<p>
This Student Travel Request has been declined by $approver.
<br>
Please contact for more details.
</p>
<br>
$requestdetails
<br>
<p>
<br>
<p>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>