<div style='padding-bottom:8px; text-align:left;'>
<p>
This is an automated email to confirm the submission of your Educational Leave Application.
<br />  
Your application status can be checked through Member Services.
</p>
<br />
<p>
</div>