/** CSS Document **/

body {
	margin: 15;
	
}

displayPageBorders {
  border-top: solid 1px #FFB700;
  border-bottom: solid 1px #FFB700; 
}

.displayWhiteDate {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.displayWhiteDate14px {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight:bold;
	text-transform: uppercase;
	color: #FFFFFF;
}

.displayCopyright {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #545454;
}

.displaySearchBy {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.inputSearchBox {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	width: 180px;
	color: #000000;
}

.inputBox {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
  height: 18px;
  line-height: 20px;
  border:solid 1px #7B9EBD;
}

.requiredInputBox {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
  line-height: 20px;
  background-color: #FFFFCC;
  height: 18px;
  border:solid 1px #7B9EBD;
}

.displayBoxTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #909090;
}

.displayBoxHeaderTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #a0a0a0;
}

.displayPageTitle {
	font-family:Arial Bold, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003366;
  border-bottom:solid 1px #003366;
}

.displayPageSubTitle {
	font-family:Tahoma Bold, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003366;
}

.displayHeaderTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
  font-weight:bold;
	color: #333333;
}

h4.subTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
  font-weight:bold;
	color: #000000;
  background-color:#c0c0c0;
  line-height:13px;
}

.requiredStar {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight:bold;
	color: #FF0000;
}

.requiredinput_date
{
  font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
  line-height:18px;
	color: #000000;
  background-color: #FFFFCC;
  height: 18px;
  border-top:solid 1px #7B9EBD;
  border-left:solid 1px #7B9EBD;
  border-bottom:solid 1px #7B9EBD;
  border-right:none;
}

.requiredinput_popup_cal
{
  font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
  background-color: #FFFFCC;
  border-top: solid 1px #7B9EBD;
  border-right: solid 1px #7B9EBD;
  border-bottom: solid 1px #7B9EBD;
  border-left: none;
  padding-top:1px;
  padding-bottom:2px;
  padding-right:2px;
  padding-left:5px;
  cursor:hand;
}

.displayText {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.displayTextStrikeout {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
  text-decoration: line-through;
}

.messageText {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
  font-weight:bold;
	color: #FF0000;
}

.linkText
{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
}

.displayCategoryTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px; 
}

a.homeSideNavCategoryLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ff0000;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
}

a.homeSideNavCategoryLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px; 
}

a.homeSideNavSubCategoryLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #505050;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
  padding-left:10px;
}


a.homeSideNavLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
}

a.homeSideNavLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
}

a.homeSideNavSubLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
  padding-left:15px;
}

a.homeSideNavSubLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
  padding-left:15px;
}

.displayPositionTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight:bold;
	color: #333333;
  text-transform:uppercase;
}

.displayCompetitionNumber {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
  font-weight:none;
  font-style:italic;
	color: #333333;
  text-transform:capitalize;
}

.displayAdText {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
  font-weight:none;
  font-style:none;
	color: #333333;
  padding-top:10px;
}

.displayLocation {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
  font-weight:none;
  font-style:none;
	color: #333333;
}

.displayEducationRequired {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
  font-weight:none;
  font-style:none;
	color: #333333;
}

a.bodyLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
  border-left: solid 4px #cccccc;
  border-right: solid 4px #cccccc;
  background-color:#FFCC00;
  padding:4px;
}

a.bodyLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	font-weight: none;
	text-decoration: none;
	line-height: 16px;
  border-left: solid 4px #cccccc;
  border-right: solid 4px #cccccc;
  background-color:#FFFFFF;
  padding:4px;
}



table.box {
  border-style: solid; 
  border-color: #EBEBEB; 
  border-width: 1px;
}

table.box tr.header{
  background-color: #EBEBEB;
}

table.box tr.header td.title{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #909090;
}

table.box td.content{
  font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
  padding:10px;
}

table.box td.content .subtitle{
  font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0A0A0;
}

table.box td.content .Label{
  font-weight:bold;
  padding-left: 5px;
}

table.box td.content ul.tasklist {
	margin:0px;
	padding:0px;
	color: #333333;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	filter:Alpha(Opacity=90, Style=0)
}

table.box td.content ul.tasklist li {
	color: #333333;
	display: inline;
	list-style: none;
}

table.box td.content ul.tasklist li a, 
table.box td.content ul.tasklist li a:visited, 
table.box td.content ul.tasklist li a:active{
	display: block;
	margin: 0px;
	padding: 6px;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}

table.box td.content ul.tasklist li a:hover {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}

table.box td.content a.icon_button,
table.box td.content a.icon_button:visited,
table.box td.content a.icon_button:active{
  display: block;
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
  border: solid 1px #FFFFFF;
}

table.box td.content a.icon_button:hover{
  font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
  border: solid 1px #FF0000;
}

table.box td.content a.letterLink, 
table.box td.content a.letterLink:visited, 
table.box td.content a.letterLink:active{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
	color: #3366FF;
	text-decoration: none;
}

table.box td.content a.letterLink:hover {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}

table.EmployeeCard{
  border: solid 1px #c4c4c4;
  background-color:#e0e0e0;
}

table.EmployeeCardBooked{
  border: solid 1px #00FF00;
  background-color:#e0e0e0;
}

table.EmployeeCardNotAvailable{
  border: solid 1px #FF0000;
  background-color:#e0e0e0;
}

table.EmployeeCardFutureBooking{
  border: solid 1px #ffa500;
  background-color:#e0e0e0;
}

table.EmployeeCard td.Header{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 13px;
  font-weight:bold;
  
  background: #e0e0e0 url('../images/employee-info.gif') top left no-repeat;
  padding-left: 40px;
  height: 32px;
}

table.EmployeeCardBooked td.Header
{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 13px;
  font-weight:bold;
  
  background: #00FF00 url('../images/employee-info.gif') top left no-repeat;
  padding-left: 40px;
  height: 32px;
}

table.EmployeeCardNotAvailable td.Header
{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 13px;
  font-weight:bold;
  
  background: #FF0000 url('../images/employee-info.gif') top left no-repeat;
  padding-left: 40px;
  height: 32px;
}

table.EmployeeCardFutureBooking td.Header
{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 13px;
  font-weight:bold;
  
  background: #FFA500 url('../images/employee-info.gif') top left no-repeat;
  padding-left: 40px;
  height: 32px;
}

table.EmployeeCard td.Header a, 
table.EmployeeCard td.Header a:visited, 
table.EmployeeCard td.Header a:active,
table.EmployeeCardBooked td.Header a, 
table.EmployeeCardBooked td.Header a:visited, 
table.EmployeeCardBooked td.Header a:active,
table.EmployeeCardNotAvailable td.Header a, 
table.EmployeeCardNotAvailable td.Header a:visited, 
table.EmployeeCardNotAvailable td.Header a:active,
table.EmployeeCardFutureBooking td.Header a, 
table.EmployeeCardFutureBooking td.Header a:visited, 
table.EmployeeCardFutureBooking td.Header a:active{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
  font-weight:normal;
	text-decoration: none;
  padding-left:4px;
  padding-right:4px;
  background-color:#FFFFFF;
  line-height: 20px;
  border:solid 1px #8B0000;
  color: #8B0000;
}

table.EmployeeCard td.Header a:hover,
table.EmployeeCardBooked td.Header a:hover,
table.EmployeeCardNotAvailable td.Header a:hover,
table.EmployeeCardFutureBooking td.Header a:hover{
  color: #FFFFFF;
  background-color:#8B0000;
}

table.EmployeeCard td.Body,
table.EmployeeCardBooked td.Body,
table.EmployeeCardNotAvailable td.Body,
table.EmployeeCardFutureBooking td.Body{
  background-color: #FFFFFF;
}

table.EmployeeCard td.Label,
table.EmployeeCardBooked td.Label,
table.EmployeeCardNotAvailable td.Label,
table.EmployeeCardFutureBooking td.Label{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
  padding-left: 5px;
}

table.EmployeeCard td.Content,
table.EmployeeCardBooked td.Content,
table.EmployeeCardNotAvailable td.Content,
table.EmployeeCardFutureBooking td.Content{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 11px;
}

table.EmployeeCard td.Operations{
  padding:5px;
  text-align:right;
  background-color:#FFFFFF;
}

table.EmployeeCardBooked td.Operations{
  padding:5px;
  text-align:center;
  background-color:#FFFFFF;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
  padding-left: 5px;
  color:#00FF00;
}

table.EmployeeCardNotAvailable td.Operations{
  padding:5px;
  text-align:center;
  background-color:#FFFFFF;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
  padding-left: 5px;
  color:#FF0000;
}

table.EmployeeCardFutureBooking td.Operations{
  padding:5px;
  text-align:center;
  background-color:#FFFFFF;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
  padding-left: 5px;
  color:#FFA500;
}

table.EmployeeCard td.Operations a, 
table.EmployeeCard td.Operations a:visited, 
table.EmployeeCard td.Operations a:active,
table.EmployeeCardBooked td.Operations a, 
table.EmployeeCardBooked td.Operations a:visited, 
table.EmployeeCardBooked td.Operations a:active,
table.EmployeeCardNotAvailable td.Operations a, 
table.EmployeeCardNotAvailable td.Operations a:visited, 
table.EmployeeCardNotAvailable td.Operations a:active,
table.EmployeeCardFutureBooking td.Operations a, 
table.EmployeeCardFutureBooking td.Operations a:visited, 
table.EmployeeCardFutureBooking td.Operations a:active{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 11px;
  font-weight:normal;
	text-decoration: none;
  padding-left:4px;
  padding-right:4px;
  background-color:#FFFFFF;
  line-height: 20px;
  border:solid 1px #8B0000;
  color: #8B0000;
}

table.EmployeeCard td.Operations a:hover,
table.EmployeeCardBooked td.Operations a:hover,
table.EmployeeCardNotAvailable td.Operations a:hover,
table.EmployeeCardFutureBooking td.Operations a:hover{
  color: #FFFFFF;
  background-color:#8B0000;
}

td.TENURE_CUTOFF_LINE{
  padding-top:25px;
  padding-bottom:25px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background-color:#FFFFFF;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
  color:#333333;
  text-transform:uppercase;
  text-decoration:overline underline;
}