<div style='padding-bottom:8px; text-align:left;'>
<p>
	Registration Status: <b>INCOMPLETE - PROOF OF PHYSICAL ADDRESS AND MCP VERIFICATION REQUIRED.</b>
</p>

<p><b>IMPORTANT NOTE:</b> Your application for Kindergarten registration for $kr.studentFirstName $kr.studentLastName at $kr.school.schoolName in the $kr.schoolStream.text program for the $kr.registration.schoolYear school year was received at <b>$kr.registrationDate</b>. </p>

<p>Your registration application is currently incomplete, proof of physical address and MCP verfication has not been provided.</p>
<p> 
You are reminded to present proof of physical address and MCP for verification to the school on or before <u>$date.format('full_date', $kr.registration.addressConfirmationDeadline)</u> to complete the registration process.
</p>
<p>
<b>If you feel you are receiving this notification in error, please contact your registration school directly to inquire about the status of your application.</b>
</p>
<p>
Thank You,<br /><br />
Newfoundland and Labrador English School District
</p>
</div>