<div style='padding-bottom:8px; text-align:left;'>
<p>
	Registration Status: <b>WAITLISTED (French Immersion).</b>
	
</p>

<p>
Your application for Kindergarten registration for $kr.studentFirstName $kr.studentLastName at $kr.school.schoolName in the $kr.schoolStream.text program for the $kr.registration.schoolYear school year was received at <b>$kr.registrationDate</b>. </p>

<p>Your registration application is currently waitlisted for French Immersion.</p> 

<p>Your child will be registered for English Kindergarten $kr.registration.schoolYear at their neighbourhood school.While your child is waitlisted, you are asked to provide the following validation of the following information for your child in person to their zoned school:

<ul>
<li>Name;
<li>Date of Birth;
<li>MCP Number; and
<li>Current Address <i>(Preferred method for verifying address is a utility bill, e.g., power, cable, oil or phone. Other forms of proof of address may be accepted at the discretion of the school administrator.)</i>
</ul>
</p> 

<p>Should your child's registration status change, you will be contacted by the District.

<p>
Thank You,<br /><br />
Newfoundland and Labrador English School District
</p>
</div>