<div style='padding-bottom:8px; text-align:left;'>
<p>
	Registration Status: <b>WAITLISTED (French Immersion).</b>
	
</p>

<p>
Your application for Kindergarten registration for $kr.studentFirstName $kr.studentLastName at $kr.school.schoolName in the $kr.schoolStream.text program for the $kr.registration.schoolYear school year was received at <b>$kr.registrationDate</b>. </p>

<p>Your registration application is currently waitlisted for French Immersion.</p> 

<p>Your child will be registered for English Kindergarten $kr.registration.schoolYear at their neighbourhood school.</p>

<p>
Thank You,<br /><br />
Newfoundland and Labrador English School District
</p>
</div>