<div style='padding-bottom:8px; text-align:left;'>
<p>
$ownerfirst,
<br />
<br />
Your claim for $claimtype has been $status.  To review this claim click the link below to login to Member Services and access the Travel Claim System.
<br />
<br />
$alink
<br>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br />
<br />
Member Services
</p>
<br />
</div>