<div style='padding-bottom:8px; text-align:left;'>
<p>
$ownerfull  has less then 10% of approved travel budget remaining. See details below;
<br />
<br />
 has less then 10% of approved travel budget remaining. See details below:
<br>
<br>
$fiscalyear Approved Budget: $budgetamount
<br />
$fiscalyear Claimed YTD: $ytdbudget
<br />
$fiscalyear Available Funds: $available
<br />
<br />
PLEASE DO NOT REPLY TO THIS MESSAGE
<br>
<br>
Member Services
</p>
<br />
</div>