<div style='padding-bottom:8px; text-align:left;'>
<p>
Your application for ICF registration for $studentname at $schoolname  for the $schoolyear school year has been received at <b>$regdate</b>. 
</p>
<p>Please note, this does not guarantee acceptance to the school or program, the District reserves the right to make the final decision regarding student acceptance and placement.</p>
 
<p>Acceptance letters will follow when acceptance has been approved.</p>
 
<p>Thank You,<br/>
Newfoundland and Labrador English School District

</p>

</div>