<div style='padding-bottom:8px; text-align:left;'>
<p>
	ICF Registration Status: <b>WAITLISTED</b>
	
</p>

<p>
Your application for ICF registration for  $studentname at $schoolname  for the $schoolyear school year was received at <b>$regdate</b>. </p>

<p>Your registration application is currently waitlisted.</p> 

<p>
Thank You,<br /><br />
Newfoundland and Labrador English School District
</p>
</div>