<div style='padding-bottom:8px; text-align:left;'>
<p>
The following contract has been awarded to you by the NLESD
</p>
<p>
$contractname
</p>>
<p>
Thank You,<br />
Newfoundland and Labrador English School District
</p>
</div>