<div style='padding-bottom:8px; text-align:left;'>
<p>
The following employee has been submitted for approval
</p>
<p>
Employee Name
</p>
<p>
$ename
</p>
<p>
Company
</p>
<p>
$cname
</p>
<p>
Thank You,<br />
</p>
</div>