<div style='padding-bottom:8px; text-align:left;'>
<p>
The following employee has been approved by NLESD Bussing Contractor System
</p>
<p>
$employee
</p>
<p>
Thank You,<br />
Newfoundland and Labrador English School District
</p>
</div>