<div style='padding-bottom:8px; text-align:left;'>
<p>
$etypes have been updated for <b>$ename</b> ($cname) and their status has been set to Not Approved
</p>
<p>
$elist
</p>
<p>
Thank You,<br />
</p>
</div>