<div style='padding-bottom:8px; text-align:left;'>
<p>
Your password to the NLESD Bussing Contractor System has been reset to.  
</p>
<p>
$password
</p>
<p>
Please login using the temporary password and reset your password
</p>
<p>
Thank You,<br />
Newfoundland and Labrador English School District
</p>
</div>