<div style='padding-bottom:8px; text-align:left;'>
<p>
Your access to the NLESD Bussing Contractor System has been suspended. Please see notes below  
</p>
<p>
$notes
</p>
<p>
Please contact the Finance Department with any further questions regarding the matter
</p>
<p>
Thank You,<br />
Newfoundland and Labrador English School District
</p>
</div>