<div style='padding-bottom:8px; text-align:left;'>
<p>
The following vehicle has been approved by NLESD Bussing Contractor System
</p>
<p>
Plate Number: $pnumber
</p>
<p>
Serial Number: $snumber
</p>
<p>
Thank You,<br />
Newfoundland and Labrador English School District
</p>
</div> 