<div style='padding-bottom:8px; text-align:left;'>
<p>
You are receiving this email because the District has not yet received your vaccination records as outlined in a  District 
memo sent on November 2, 2021. As noted in previous emails sent to you, employees who do not upload the appropriate 
vaccination record by December 17, 2021, had that record verified by District staff or have an approved exemption, 
will be placed on unpaid leave. 
<p>
<p>
The District strongly encourages you to upload your vaccination records in the requested format prior to this date. Should 
you require assistance please contact your regional HR office at the email address provided in the November 2, 2021 memo.
</p>
<p>
Please Note: If you are using an external email address on your profile you may receive this warning despite being verified.
The District recommends that you change your email address in your profile to your @nlesd.ca email to prevent future message
warnings. Some employees have two profiles created - one under Teaching and one for Support. Employees may need both profiles
if applying for Teacher/TLA or support staff positions. If you do not need the two accounts, the District may be able to 
delete one for you. It is important for your @nlesd.ca email to be included in the remaining profile. If you need both 
profiles it is recommended that you add the appropriate COVID vaccination document to both profiles for 
review and verification.  
</P>
<p>
Thank you for your cooperation
</p>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br>
</p>
</div>