<div style='padding-bottom:8px; text-align:left;'>
<p>
COVID19 Vaccination Document for $ename has been REJECTED for the following reason<br /><br />
$ereason
</p>
<br>
<p>
Please note:
<br>
We request you reload a copy of your vaccines as per the requested format in the memo.
<br>
Please see the following <a href='https://vaccineportal.nlchi.nl.ca/?queueittoken=e_nlchiprod~q_39b21952-84d9-4e06-af06-39dde59523fc~ts_1637075123~ce_true~rt_safetynet~h_42962308b4e35336353eaedd4ee8d3f4cbf51704be653fa51753928aa77c2fe4'>
link</a>
<br>
We require the recent pdf letter version(not a wallet size or cell phone screen shot)
<br>
This letter specifically contains NL and Canadian logo at the top with a QR code and proof of vaccines
<br>
Thank you for your cooperation
</p>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br>
Member Services
</p>
</div>