<div style='padding-bottom:8px; text-align:left;'>
<p>
As you are aware the District outlined expectations for all employees to provide vaccination records by December 17, 2021 
or have an approved exemption in place. 
<p>
<p>
You are receiving this email because the District has not yet received your vaccination records as per District memo on November 2, 2021. 
As per policy employees who have not uploaded their records by December 17, 2021, had that record verified by District staff or have an 
approved exemption will be placed on unpaid leave. 
</p>

<p>
The District strongly encourages all employees to upload their vaccination records prior to this date. Should you require assistance please 
contact your regional HR office at the email address provided in the November 2, 2021 memo.
</p>

<p>
Thank you for your cooperation
</p>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br>
</p>
</div>