<div style='padding-bottom:8px; text-align:left;'>
<p>
COVID19 Vaccination Document for $ename has been REJECTED for the following reason<br /><br />
$ereason
</p>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br>
Member Services
</p>
</div>