<div style='padding-bottom:8px; text-align:left;'>
<p>
This to advise that the deadline for submission of your vaccine records is midnight tonight, December 17, 2021. If 
you are not on approved leave from the District, have an approved exemption or have uploaded the appropriate records
before this deadline you will be placed on unpaid leave effective Monday December 20, 2021. Employees are advised
that documents uploaded after the deadline may take up to 7 days to verify.  During this time you will still be
considered to be on unpaid leave and are directed not to return to your workplace until given clearance by Human Resources. 
</p>
<p>
In the event you have not uploaded your records you are required to advise your supervisor that you will not be able
to report for work on Monday.  If you are currently on approved leave and have not uploaded your documents you will 
be required to upload them prior to your return to work. Uploaded documents may take as much as 7 calendar days to 
verify.  Employees on leave are unable to return to work until their documents have been verified.
</P>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br>
</p>
</div>