<div style='padding-bottom:8px; text-align:left;'>
<p>
$requesterName has submitted a job ad request for your approval.  To review this request click the link below to login to Members Services and access the Personnel System.
</p>
<br>
<a href='http://www.nlesd.ca/MemberServices/Personnel/viewAdRequest.html?u=$userName&rid=$recommendationId'><b>CLICK HERE</b></a>
<br>
<p>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>