<div style='padding-bottom:8px; text-align:left;'>
<p>
$requesterName has approved a job ad request titled '$competitionTitle'.</p>
<br><br>
<p>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>