<div style='padding-bottom:8px; text-align:left;'>
<p>
$candidateName has REJECTED the position $competitionNumber: $competitionTitle $location
</p>
<br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br>
Member Services
</p>
</div>