<div style='padding-bottom:8px; text-align:left;'>
<p>
Thank you for your interest in the $competitionNumber: $competitionTitle position.

At this time, I regret to inform you that the position has been filled by another candidate, $candidateName.

</p>
<br><br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>