<div style='padding-bottom:8px; text-align:left;'>
The Newfoundland and Labrador English School District is offering you the position detailed below;
<BR><BR>
$jobDetails
<BR><BR>
To accept or decline this position please login to the Newfoundland and Labrador English School District Employment Opportunity website. 
<b><u>This offer is only valid until $expiryDate.</u></b>
<BR><BR>
<a href='http://www.nlesd.ca/MemberServices/Personnel/applicant_login.jsp'><B>CLICK HERE TO LOGIN</B></a>
<br><br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</div>