<div style='padding-bottom:8px; text-align:left;'>
<p>
$candidateName has ACCEPTED the position $competitionNumber: $competitionTitle $location
</p>
<br><br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>