<div style='padding-bottom:8px; text-align:left;'>
<p>
This notification is to confirm that your ACCEPTANCE of the position $competitionNumber: $competitionTitle $location has been received. 

Thank you.
</p>
<br><br>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>