<div style='padding-bottom:8px; text-align:left;'>
<p>
Request To Hire submitted by $requesterName($requestTitle) has been deleted by $userName
</p>
<br>
<br>
<p>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>