/* MS PERSONNEL PACKAGE APP 2019 */
/* MS REDESIGN PROJECT 2020 */
/* APP DEFAULTS */
body {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: Black;-webkit-text-size-adjust: 100%;background:none;background-color:none;margin-bottom:100px;}
/*html { background: radial-gradient(#ffffff,#ffffff,#f0f4f0) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
*/ 
.mainContainer {max-width:1250px;min-width:300px;display: block;  margin-left: auto;  margin-right: auto;}
#content browser { margin-right: -14px !important; overflow-y: scroll; overflow-x: hidden;}
.pageheader {font-size:16px;font-weight:bold;color:#1F4279;padding-top:5px;padding-bottom:5px;}
.pageBody {font-size:12px;color:Black;}
.topLogoImg {width:100%;max-width:1250px;padding-bottom:5px;padding-top:5px;}
.formTitleArea {width:10%;max-width:200px;min-width:125px;}
.input-group {padding-bottom:5px;height:30px;}
.required {color:red;}
#loadingSpinner {position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align:center; background-color: rgba(0, 0, 0,0.5);z-index: 1000;}
#spinner {position: fixed; text-align: center;  top: 25%;  left: 50%; transform: translate(-50%, 0);background-color:rgba(255, 255, 255, 0);padding:10px;font-size:16px;color:White;}
.printOnly {display:none;}
.page-break { display: none; }
/* SEARCH BLOCK STYLES */
.searchProjectsForm {background-color: #FFFFF0;max-width:800px;min-width:300px;margin-top:10px;padding:5px;margin-left: auto;  margin-right: auto; border:1px solid #789778;margin-bottom:10px;}
.searchProjectsFormHeader {background-color: #1F4279;font-size:14px;color:White;text-align:center;width:100%;padding:3px;}
.searchProjectsFormHeaderBody {background-color: #FFFFF0;font-size:12px;color:Black;text-align:center;width:100%;padding:3px;}
.searcherLogoImg {float:left;}

/* CONTACT BLOCK STYLES */
.addContactForm {background-color: #FFFFF0;max-width:800px;min-width:300px;margin-top:10px;padding:5px;margin-left: auto;  margin-right: auto; border:1px solid #789778;margin-bottom:10px;}
.addContactFormHeader {background-color: #1F4279;font-size:14px;color:White;text-align:center;width:100%;padding:3px;}
.addContactFormHeaderBody {background-color: #FFFFF0;font-size:12px;color:Black;text-align:center;width:100%;padding:3px;}
.addContactLogoImg {float:left;}

.selectWidth {width:auto !important;display: inline-block;}

input { border:1px solid silver;}

/* REGION COLORS */
.regionDefault {background-color: #1F4279;}
.region1 {background-color:rgba(191, 0, 0, 0.1);}
.region1a {border-left:10px solid rgba(191, 0, 0, 0.3);}
.region1solid {background-color:rgba(191, 0, 0, 1);}
.region1half {background-color:rgba(191, 0, 0, 0.5);}
.region2 {background-color:rgba(0, 191, 0, 0.1);}
.region2a {border-left:10px solid rgba(0, 191, 0, 0.3);}
.region2solid {background-color:rgba(0, 191, 0, 1);}
.region2half {background-color:rgba(0, 191, 0, 0.5);}
.region3 {background-color:rgba(255, 132, 0, 0.1);}
.region3solid {background-color:rgba(255, 132, 0, 1);}
.region3half {background-color:rgba(255, 132, 0, 0.5);}
.region3a {border-left:10px solid rgba(255, 132, 0, 0.3);}
.region4 {background-color:rgba(127, 130, 255, 0.1);}
.region4a {border-left:10px solid rgba(127, 130, 255, 0.3);}
.region4solid {background-color:rgba(127, 130, 255,1);}
.region4half {background-color:rgba(127, 130, 255, 0.5);}
.region5 {background-color:rgb(153, 51, 51, 0.1);}
.region5a {border-left:10px solid rgba(153, 51, 51, 0.3);}
.regionEastern {color:rgba(191, 0, 0, 1);}
.regionCentral {color:rgba(0, 191, 0, 1);}
.regionWestern {color:rgba(255, 132, 0, 1);}
.regionLabrador {color:rgba(127, 130, 255, 1);}
.regionProvincial {color:rgb(153, 51, 51, 1);}
.regionStyle {padding:0px 0px 0px 0px;float:left;width:25%;}





/* FOOTER CONTENT */
.mainFooter {position: fixed; z-index:9999;left: 0;bottom: 0; width: 100%; padding-top:5px;padding-bottom:5px; background-color: rgba(220, 20, 60, 0.9);color: white;text-align: center; font-size:10px;}
a.footerMenu { color:#FFFFFF;  text-decoration: none;}
a.footerMenu:visited { color:#FFFFFF;  text-decoration: none;}
a.footerMenu:hover {	color: #FFFF80;	text-decoration: underline;} 
a.footerMenu:active { color: #FF0000; text-decoration: none;}

.bottomLogoFloat { position: fixed; bottom: 0;left: 0;padding-left:5px;padding-bottom:20px;}

/* MEDIA SIZES */

@media only screen and (max-width:650px) {
#searcherImg,#contacteeImg { display: none;}
}


@media print {
	 table { page-break-inside:auto }
   		tr    { page-break-inside:avoid; page-break-after:auto }	
	.printOnly {display:block;}
	.page-break { display: block; page-break-before: always; }
	
	
          .panel-success,.panel-default,.panel-info,.panel-danger,.panel-warning {
          border-color:#FFFFFF;
          border:0px;
          }        
	
	
}











