<div style='padding-bottom:8px; text-align:left;'>
<p>
Please note the PIN below that you will use to view your electronic Statement of Earnings. You will require Adobe Acrobat Reader version 5.0 or greater and
you will be prompted to enter your PIN when you try to open your Statement of Earnings
</p>
<br />
$password
<p>
If you require any assistance please contact the Payroll Department.
</p>
</div>