<div style='padding-bottom:8px; text-align:left;'>
<p>
Your electronic Statement of Earnings has been included in this email as an attachment. To view the attachment, you will require Adobe Acrobat Reader version 5.0 or greater.
You will be prompted to enter your PIN.
</p>
<br />
<p>
If you require any assistance please contact the Payroll Department.
</p>
</div>