<div style='padding-bottom:8px; text-align:left;'>
<p>
$tname($sname) has been selected as a committee member for the EECD Area 
<br />
$areaname
</p>
<br>
<p>
PLEASE DO NOT REPLY TO THIS MESSAGE.
<br><br>
Member Services
</p>
</div>