A:link {
	text-decoration: none;
	color: #00407A;
}

A:visited {
	text-decoration: none;
	color: #00407A;
}

A:active {
	text-decoration: none;
	color: #9C1F2E;
}

A:hover {
	text-decoration: none;
	color: #9C1F2E;
}

body {
	background: #8CBAE3 url("../images/bkg2.jpg");
	margin: 0;
	padding: 5;
}

.copyright {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: White;
}

.menumedium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #9C1F2E;
}

.quotes {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
}

.menusmall {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: Black;
}

.date {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
}

.quicklinkheader {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #00407A;
	font-weight: bold;
}

.toptext {
	color: White;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a.topmenu:link {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: White;
	text-decoration: none;
}

a.topmenu:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: White;
	text-decoration: none;
}

a.topmenu:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Yellow;
	text-decoration: underline;
}

a.topmenu:active {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Yellow;
	text-decoration: none;
}

a.bottommenu:link {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Gray;
	text-decoration: none;
}

a.bottommenu:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Gray;
	text-decoration: none;
}

a.bottommenu:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9C1F2E;
	text-decoration: underline;
	background-color: White;
}

a.bottommenu:active {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9C1F2E;
	text-decoration: none;
}

.maintable {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Black;
}

.mainbody {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: Black;
	font-size: 11px;
}

.inputBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 14px;
	border: solid 1px #7B9EBD;
}

.requiredInputBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 14px;
	background-color: #FFFFCC;
	border: solid 1px #7B9EBD;
}

.header1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #9C1F06;
	font-weight: bold;
	border-bottom: dashed 1px #333333;
}

.header2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #9C1F06;
	font-weight: bold;
}
.column1 {
	background-color: #F7D67D;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.pagetitle {
	color: #9C1F2E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

requiredInputBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line_height: 14px;
	background-color: #FFFFCC;
	border: solid 1px #7B9EBD;
}

.requiredinput_date {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #000000;
	background-color: #FFFFCC;
	height: 18px;
	border-top: solid 1px #7B9EBD;
	border-left: solid 1px #7B9EBD;
	border-bottom: solid 1px #7B9EBD;
	border-right: none;
}

.requiredinput_popup_cal {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFCC;
	border-top: solid 1px #7B9EBD;
	border-right: solid 1px #7B9EBD;
	border-bottom: solid 1px #7B9EBD;
	border-left: none;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 5px;
	cursor: hand;
}

.messageText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}

.requiredStar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}

.whiteStar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: White;
}

.label {
	font-size: 13px;
	font-weight: bold;
	color: #00407A;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	padding-right: 3px;
}

.requiredText {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.displayHeaderTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	padding-right: 2px;
}

.displayText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.header, th {
	font-size: 12px;
	font-weight: bold;
	color: White;
	background: #9C1F06;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
}

.displayColumnHeader {
	font-size: 12px;
	font-weight: bold;
	color: White;
	background: #9C1F06;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	border-bottom:solid 1px #333333;
	border-left:solid 1px #e0e0e0;
}

.displayColumn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border-bottom:solid 1px #c4c4c4;
	border-left:solid 1px #e0e0e0;
}

.displayColumnSelect {
	border-bottom:solid 1px #c4c4c4;
	border-left:solid 1px #e0e0e0;
	background-color:#FFF8C6;
}

.infobox {
	font-size: 11px;
	font-weight: normal;
	background-color: #FFF8DC;
	color: Black;
	border: 1px solid #00407A;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


.info {
	font-size: 11px;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

tr.color0{
	background-color:#FFFFFF;
}

tr.color1{
	background-color:#F4F4F4;
}

tr.selected{
	background-color:#D8E7FC;
}
