
.copyright {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 9px;
}


.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: Black;
	}

th {
	text-align: left;	
	text-decoration: underline;
}

.opbutton, .ui-button {
	font-size: 10pt !important;	
}

.small {
	font-size: 8pt !important;	
}


.form-panel table {
	border: solid 1px #c0c0c0;
	background-color: #f0f0f0;
}
.form-panel table caption {
	background-color: #33cc33;
	border: solid 1px silver;
	border-bottom: none;
}

.form-panel table td.label{
	text-align:right;
	padding-right: 3px;
	color: #0080ff;
	font-weight:bold;
}

fieldset {
	width: 95%;
	border: solid 1px #0080ff;
	background-color: #f7f7f7;
	padding: 3px;
	padding-top:0px;
}

legend {
	font-weight: bold;
	color: red;
	font-size:14px;
	text-align: left;
	text-transform:Uppercase;
}

#add-registrant-form fieldset table {
	border-top: solid 0px silver;
	border-bottom:solid 1px silver;
}

#add-registrant-form fieldset table caption{
	font-weight: bold;
	text-align: left;
	/*color: #FF8200;*/
	color: #0080ff;
	font-size:12px;
	padding-bottom:2px;
	text-transform:Uppercase;
	/*color: #744100;*/
}

#add-registrant-form table td.label{
	text-align:right;
	padding-right: 2px;
	color: #808080;
	font-weight:normal;
	min-width:100px;
	max-width:250px;
	width:30%;
}

#pnl-error-msg div, p.important-note {
	border: solid 1px red;
	background-color: #FFC0CB;
	color: red;
	font-weight: bold;
}

.inline-error-msg {
	font-size:9px;
	color: red;
	font-weight: bold;	
}